<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">Операции</div>

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Сумма</th>
                                    <th>Категория</th>
                                    <th>Коммент</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in operations">
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.sum }}</td>
                                    <td>{{ item.category.name }}</td>
                                    <td>{{ item.comment }}</td>
                                    <td>
                                        <v-btn small>edit</v-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import moment from 'moment';
    export default {
        data: function() {
            return {
                operations: [],
                filter: [
                    name => null,
                    price_min => null,
                    price_max => null,
                ],
                filter_string: '?'
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.fetchHouses();
        },
        methods: {
            fetchHouses(url) {
                let app = this;
                url = url != null ? url : '/payments';
                fetch(url)
                    .then(res => res.json())
                    .then(res => {
                        console.log(res);
                        app.operations = res.data;
                        app.filter_string = res.filter_string;
                    })
                    .catch(err => { console.log(err) })
            }
        }
    }
</script>
